<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Learn the basics of drawing to a 2D canvas.</p>
    <p><a href="/tutorial/01.html">Get started</a></p>
    <p><br></p>
    <p>This talk was originally given at <a href="http://brisjs.com">Bris.JS</a> in September 2015 by Glen Arrowsmith. YouTube video coming soon.</p>
    <p><br></p>
    <p>Issues or contribute at <a href="https://github.com/garrows/canvas-basics-tutorial">https://github.com/garrows/canvas-basics-tutorial</a></p>
  </body>
</html>
